!! IOS XR Configuration 
!
hostname ios
username vagrant
 group root-lr
 group cisco-support
 secret 5 $1$FTjI$nxqpDLAdVH1E3agGiVOdT0
!
interface MgmtEth0/RP0/CPU0/0
 ipv4 address dhcp
!
!
interface FourHundredGigE0/0/0/0
 shutdown
!
interface FourHundredGigE0/0/0/8
 shutdown
!
interface FourHundredGigE0/0/0/9
 shutdown
!
interface FourHundredGigE0/0/0/12
 shutdown
!
interface FourHundredGigE0/0/0/13
 shutdown
!
!
netconf-yang agent
 ssh
!
ssh server v2
ssh server vrf default
ssh server netconf vrf default
end
