router bgp 65000
 bgp router-id 172.16.1.1
 address-family ipv4 unicast
 !
 neighbor-group IBGP
  remote-as 65000
  address-family ipv4 unicast
  update-source loopback0
  !
 !
 !
 neighbor 172.16.4.1
  remote-as 65000
  use neighbor-group IBGP
  address-family ipv4 unicast
  update-source loopback0
  !
 !
!
end  
