!! IOS XR Configuration version = 6.5.2.28I
!! Last configuration change at Wed May 29 17:48:00 2019 by vagrant
!
hostname rtr1
username vagrant
 group root-lr
 group cisco-support
 secret 5 $1$5bzh$TkN67SJ7114Y5uJw9U5fY1
!
tpa
 vrf default
  address-family ipv4
   default-route mgmt
   update-source dataports MgmtEth0/RP0/CPU0/0
  !
 !
!
call-home
 service active
 contact smart-licensing
 profile CiscoTAC-1
  active
  destination transport-method http
 !        
!
interface MgmtEth0/RP0/CPU0/0
 ipv4 address 11.11.11.23 255.255.255.0
!
router static
 address-family ipv4 unicast
  0.0.0.0/0 10.0.2.2
 !
!
netconf-yang agent
 ssh
!
ssh server v2
ssh server vrf default
ssh server netconf vrf default
end
