!! IOS XR Configuration version = 6.5.2.28I
!! Last configuration change at Wed Apr 24 19:02:54 2019 by ZTP
!
username vagrant
 group root-lr
 group cisco-support
 secret 5 $1$5bzh$TkN67SJ7114Y5uJw9U5fY1
!
tpa
 vrf default
  address-family ipv4
   default-route mgmt
   update-source dataports MgmtEth0/RP0/CPU0/0
  !
 !
!
call-home
 service active
 contact smart-licensing
 profile CiscoTAC-1
  active
  destination transport-method http
 !
!
interface MgmtEth0/RP0/CPU0/0
 ipv4 address dhcp
!
!
router static
 address-family ipv4 unicast
  0.0.0.0/0 10.0.2.2
 !
!
router bgp 65000
 bgp router-id 172.16.1.1
 address-family ipv4 unicast
!
 neighbor-group IBGP
  remote-as 65000
  update-source Loopback0
  address-family ipv4 unicast
  !
 !
 neighbor 172.16.4.1
  remote-as 65000
  use neighbor-group IBGP
  update-source Loopback0
  address-family ipv4 unicast
  !
 !
!
!
netconf-yang agent
 ssh
!
lldp
!
ssh server v2
ssh server vrf default
ssh server netconf vrf default
end
